        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            background-color: #222;
            color: white;
            font-family: sans-serif;
        }
        
        .crud {
            width: 80%;
            margin: auto;
        }
        
        .head {
            text-align: center;
            text-transform: uppercase;
            margin: 10px 0;
        }
        
        input {
            width: 100%;
            height: 50px;
            background-color: #111;
            outline: none;
            border: none;
            margin: 4px 0;
            border-radius: 4px;
            padding: 4px;
            color: white;
            transition: 0.3s ease;
        }
        
        input:hover {
            background-color: #000;
            transform: scale(1.1);
        }
        
        .price input {
            width: 20%;
        }
        
        #total {
            background-color: red;
            padding: 5px 10px;
            border-radius: 4px;
            display: inline-block;
            margin-top: 5px;
        }
        
        #total::before {
            content: "Total: ";
        }
        
        button {
            width: 100%;
            height: 40px;
            border: none;
            cursor: pointer;
            background-color: rgb(119, 7, 119);
            border-radius: 20px;
        }
        
        button:hover {
            background-color: rgb(236, 58, 236);
            letter-spacing: 2px;
        }
        
        .btnSearch {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px 0;
        }
        
        .btnSearch button {
            width: 45%;
            height: 30px;
        }
        
        table {
            width: 100%;
            text-align: center;
            margin: 10px 0;
            border: none;
        }
        
        table th {
            text-transform: uppercase;
        }
        
        td,
        th {
            padding: 10px;
        }
        
        #deleteAll {
            margin: 10px 0;
            text-align: center;
        }